<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.flutter.plugins.switchpayment">
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <queries>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
            <data android:mimeType="*/*"/>
        </intent>
    </queries>
    <application>
        <activity
            android:name="com.switchpay.android.SwitchPayActivity"
            android:theme="@style/Theme.AppCompat"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            />
    </application>
</manifest>



